{
    "referredEntities": {},
    "entity": {
      "typeName": "iceberg_db",
      "attributes": {
        "owner": "1",
        "ownerType": "user",
        "replicatedTo": [],
        "replicatedFrom": [],
        "qualifiedName": "{{ qualified_name }}",
        "displayName": "{{ display_name }}",
        "clusterName": "raffles_data_platform",
        "name": "{{ name }}",
        "description": "{{ description }}",
        "location": "1",
        "parameters": null
      },
      "isIncomplete": false,
      "status": "ACTIVE",
      "createdBy" : "1",
      "updatedBy" : "1",
      "createTime": 1,
      "updateTime": 1,
      "version": 0,
      "labels": []
    }
  }