{
  "referredEntities": {},
  "entity": {
    "typeName": "iceberg_table",
    "attributes": {
      "owner": "1",
      "temporary": "false",
      "lastAccessTime": 1,
      "aliases": [],
      "replicatedTo": [],
      "replicatedFrom": [],
      "qualifiedName": "{{ qualified_name }}",
      "displayName": "{{ display_name }}",
      "description": "{{ description }}",
      "db": {
        "typeName": "iceberg_db",
        "uniqueAttributes": {
            "qualifiedName": "{{ db_qualified_name }}"
          }
      },
      "createTime": 1,
      "name": "{{ name }}",
      "retention": 0
    },
    "isIncomplete": "false",
    "status": "ACTIVE",
    "createdBy": "1",
    "updatedBy": "1",
    "createTime": 1,
    "updateTime": 1,
    "version": 0,
    "labels": []
  }
}