{
  "referredEntities": {},
  "entity": {
    "typeName": "iceberg_column",
    "attributes": {
      "owner": "{{ owner }}",
      "replicatedTo": [],
      "replicatedFrom": [],
      "qualifiedName": "{{ column_qualified_name }}",
      "displayName": "{{ column_qualified_name }}",
      "name": "{{ column_name }}",
      "description": "{{ column_qualified_name }}",
      "table": {
        "typeName": "iceberg_table",
        "uniqueAttributes": {
            "qualifiedName": "{{ table_qualified_name }}"
          }
      },
      "position": 0,
      "type": "varchar2"
    },
    "isIncomplete": "false",
    "status": "ACTIVE",
    "createdBy": "1",
    "updatedBy": "1",
    "createTime": 1,
    "updateTime": 1,
    "version": 0,
    "labels": []
  }
}